:root {
    --color-text-primary: #241a0c;
    --color-secondary: #6B4A27;
    --color-white: #ffffff;
    --color-soft-white: #fef4e8;
    --color-bg-primary: #FFB962;
    --color-bg-light: rgba(255, 252, 248, 0.5);

    --layout-max-w: 1920px;
    --header-height: 80px;
}

@media (max-width: 1024px) {
    :root {
        --header-height: 60px;
    }
}