
header .util-pc , header #gnb {
    display: none;
}

.wrap {
    position: relative;
    background-color: #fff;
    min-width: 280px;
}

header {
    background-color: #fff;
    width: 100%;
    height: 60px;
}

header .hd-wrap {
    padding: 15px 15px 0 20px;
    display: flex;
}

header h1.logo {
    padding-top: 2px;
}

header h1.logo a {
    display: block;
    background: url(../images/logo1.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 76px;
    height: 26px;
}

header .hd-utils-mb {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

header .hd-utils-mb ul.util-mb {
    display: flex;
    gap: 12px;
}

header .hd-utils-mb ul li a {
    font-family: 'HGGGothicssi';
    font-weight: 600;
    font-size: 12px;
    color: #111;
}

header .hd-utils-mb .hambuger-menu {
    width: 30px;
    height: 30px;
    position: relative;
}

header .hd-utils-mb .hambuger-menu span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 5px;
}

header .hd-utils-mb .hambuger-menu .bar1 {
    top: 6px;
}

header .hd-utils-mb .hambuger-menu .bar2 {
    top: 14px;
}

header .hd-utils-mb .hambuger-menu .bar3 {
    bottom: 5px;
}


/* =============== PC =============== */
@media (min-width: 1024px) {
    
    header .util-pc , header #gnb {
        display: block;
    }

    header .hd-utils-mb {
        display: none;
    }
}
