
header .pc-util , header #gnb {
    display: none;
}

.wrap {
    position: relative;
    background-color: #fff;
    min-width: 280px;
}

header {
    background-color: #fff;
    width: 100%;
    height: 60px;
}

header .hd-wrap {
    padding: 15px 15px 0 20px;
    display: flex;
}

header h1.logo {
    padding-top: 2px;
}

header h1.logo a {
    display: block;
    background: url(../images/logo1.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 76px;
    height: 26px;
}

header .mb-hd-utils {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

header .mb-hd-utils ul.mb-util {
    display: flex;
    gap: 12px;
}

header .mb-hd-utils ul li a {
    font-family: 'HGGGothicssi';
    font-weight: 600;
    font-size: 12px;
    color: #111;
}

header .mb-hd-utils .hambuger-menu {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 9;
}

header .mb-hd-utils .hambuger-menu span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 5px;
    transition: .3s;
}

header .mb-hd-utils .hambuger-menu .bar1 {
    top: 6px;
}

header .mb-hd-utils .hambuger-menu .bar2 {
    top: 14px;
}

header .mb-hd-utils .hambuger-menu .bar3 {
    bottom: 5px;
}

header .mb-hd-utils .hambuger-menu.active span {
    width: 26px;
}

header .mb-hd-utils .hambuger-menu.active .bar1 {
    transform: rotate(45deg) translate(4px, 7px);
}

header .mb-hd-utils .hambuger-menu.active .bar2 {
    display: none;
}

header .mb-hd-utils .hambuger-menu.active .bar3 {
    transform: rotate(-45deg) translate(4px, -7px);
}

#mb-menu-area {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    max-width: 500px;
    overflow-y: auto;
}

#mb-menu-area .content {
    padding-top: 60px;
}

#mb-menu-area .top-area {
    position: fixed;
    top: 0;
    right: -100%;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

#mb-menu-area .top-area .logo {
    margin-right: auto;
    display: block;
    background: url(../images/logo1.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 76px;
    height: 26px;
}

#mb-menu-area .top-area .mb-util {
    margin-right: 40px;
    display: flex;
    gap: 18px;
}

#mb-menu-area .top-area .mb-util li {
    position: relative;
}

#mb-menu-area .top-area .mb-util li:first-child::before {
    display: none;
}

#mb-menu-area .top-area .mb-util li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -9px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #111;
}

#mb-menu-area .top-area .mb-util li a {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 13px;
    color: #111;
    letter-spacing: -0.8px;
}

#mb-menu-area .top-area .mb-util li a.app-down {
    font-weight: 500;
    color: #4e2bf4;
    padding-right: 13px; /* 이미지 넣을 자리 */
    background: url(../images/ic_download1.png) no-repeat;
    background-size: auto 11px;
    background-position: right center;
}

#mb-menu-area .top-area .mb-util li .global {
    display: block;
    background: url(../images/ic_gnb_global.png) no-repeat;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: 18px auto;
    padding: 0;
}

#mb-menu-area .top-area .mb-util li .global select  {
    width: 24px;
    height: 24px;
    opacity: 0;
}

#mb-menu-area .my-area {
    margin-top: 20px;
    padding: 0 20px;
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 16px;
    color: #111;
    letter-spacing: -0.8px;
}

#mb-menu-area .my-area a {
    color: #4e2bf4;
}

#mb-menu-area .app-area {
    margin-top: 30px;
    background: #f1f3ff;
}

#mb-menu-area .app-area a {
    display: block;
    padding: 12px 20px;
}

#mb-menu-area .app-area a p{
    padding: 9px 55px 9px 0;
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 13px;
    color: #111;
    margin: 0 auto;
    max-width: 274.51px;
    background: url(../images/ic_app1.png) no-repeat;
    background-size: 30px;
    background-position: right center;
}

#mb-menu-area #mb-gnb {
    margin-top: 30px;
    padding: 0 20px 30px 20px;
}

#mb-menu-area #mb-gnb > ul {
    position: relative;
}

#mb-menu-area #mb-gnb > ul > li.depth1 {
    margin-top: 30px;
}

#mb-menu-area #mb-gnb > ul > li.depth1 span {
    position: relative;
    font-family: "HGGGothicssi";
    font-weight: 800;
    font-size: 20px;
    color: #111;
}

#mb-menu-area #mb-gnb > ul > li.depth1.active span {
    color: #4e2bf4;
    transition: 0.3s;
}

#mb-menu-area #mb-gnb > ul > li.depth1.active span::before {
    content: "";
    border-radius: 50%;
    background: #4e2bf4;
    width: 6px;
    height: 6px;
    position: absolute;
    right: -6px;
    top: -4px;
}

#mb-menu-area #mb-gnb ul.depth2 {
    display: none;
    position: absolute;
    left: 45%;
    top: 0;
}

#mb-menu-area #mb-gnb ul.depth2 > li {
    margin-top: 25px;
}

#mb-menu-area #mb-gnb ul.depth2 > li:first-child {
    margin-top: 0;
}

#mb-menu-area #mb-gnb ul.depth2 > li a {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 16px;
    color: #111;
    letter-spacing: -0.8px;
}

/* =============== PC =============== */
@media (min-width: 1024px) {
    
    header .pc-util , header #gnb {
        display: block;
    }

    header .mb-hd-utils {
        display: none;
    }
}
